$white: #F9FAFC;
$black: #1F2D3D;
$yellow: #FFC82C;
$blue: #1FB6FF;
$orange: #FF9E7C;
$purple: #7E5BEF;
$highlight: $blue;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $white;
  color: $black;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 27px;
  margin: 64px 36px;
}

h1 {
  font-family: BlinkMacSystemFont, -apple-system, 'Helvetica Neue', Helvetica, 'Segoe UI', sans-serif;
}

a {
  box-shadow: inset 0 -0.4em $highlight;
  cursor: pointer;
  transition: all .2s ease-in;
  text-decoration: none;
  color: inherit;
  &:hover {
    background: $highlight;
    box-shadow: none;
  }
}

p {
  max-width: 440px;
}
